<h1>ログイン</h1>

<%= form_with(model: @session, url: sessions_path, scope: :session) do |f| %>

  <table border="1">
    <tr>
      <th><%= f.label :mail, t('user.mail') %></th>
      <td><%= f.text_field :mail %></td>
    </tr>
    <tr>
      <th><%= f.label :password, t('user.password') %></th>
      <td><%= f.password_field :password %></td>
    </tr>
  </table>

  <%= f.submit t('link.login') %><br><br>
  <%= link_to t('view.back') , users_path %>

<% end %>