<h1><%= t('session.session_new') %></h1>

<%= form_with(model: @session, url: sessions_path, scope: :session, local: true) do |f| %>

  <table class="table table-bordered">
    <tr>
      <th><%= f.label :mail, t('user.mail') %></th>
      <td><%= f.text_field :mail %></td>
    </tr>
    <tr>
      <th><%= f.label :password, t('user.password') %></th>
      <td><%= f.password_field :password %></td>
    </tr>
  </table>

  <%= f.submit t('link.login'), class: "btn btn-primary" %><br><br>
  <%= link_to t('view.back') , users_path %>

<% end %>