<h1>編集</h1>


<div
    <span>以下のツイートに返信します</span><br>
    <%= @user.name %>:<%= @tweet.tweet %>
</div>
<br>
<%= form_with(model: @comment, url: comment_path, method: :patch) do |c| %>
  <table border="1">
    <tr>
      <th><%= c.label :comment, t('comment.comment') %></th>
      <td><%= c.text_field :comment %></td>
    </tr>
  </table>

  <%= c.submit t('view.update') %><br><br>
  <%= link_to t('view.back'), user_tweets_path(current_user) %>

<% end %>
