<h1><%= t('comment.comment_new') %></h1>

<div>
    <span>以下のツイートに返信します</span><br>
    <%= @user.name %>:<%= @tweet.tweet %>
</div>
<br>
<%= form_with(model: @comment, url: tweet_comments_path) do |c| %>
  <div class="form-group">
    <%= c.label :comment, t('comment.comment') %>
    <%= c.text_field :comment, class: "form-controll" %>
  </div>
  <%= c.submit t('comment.reply'), class: "btn btn-primary" %><br><br>
  <%= link_to t('view.back'), user_tweets_path(current_user) %>

<% end %>
