<h1>ツイート更新</h1>

<%= form_with(model: @tweet, url: tweet_path, method: :patch) do |t| %>

  <table border="1">
    <tr>
      <th><%= t.label :tweet, t('tweet.tweet')  %></th>
      <td><%= t.text_field :tweet %></td>
    </tr>
  </table>

  <%= t.submit '更新' %><br><br>
  <%= link_to t('view.back') , user_tweets_path(@user) %>

<% end %>
