<h1><%= t('user.user_index') %></h1>

<table class="table table-striped table-condensed table-bordered">
  <tr class="info">
    <th class="width-100"><%= t('user.name') %></th>
    <th class="width-120"><%= t('user.following') %></th>
    <th class="width-120"><%= t('user.follower') %></th>
    <th class="width-120"><%= t('tweet.tweet') %></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= link_to user.name, user_path(user) %>
      </td>
      <td>
        <strong>
          <%= user.followings.count %>
        </strong>
        <%= t('user.following') %>
      </td>
      <td>
        <strong>
          <%= user.followers.count %>
        </strong>
        <%= t('user.follower') %>
      </td>
      <td>
        <strong>
          <%= user.tweets.count %>
        </strong>
        <%= t('tweet.tweet') %>
      </td>
    </tr>
  <% end %>
</table>
