<h1><%= t('user.user_new') %></h1>

<%= form_with(model: @user, local: true) do |f| %>

  <table class="table table-bordered">
    <tr>
      <th><%= f.label :name, t('user.name') %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :mail, t('user.mail') %></th>
      <td><%= f.text_field :mail %></td>
    </tr>
    <tr>
      <th><%= f.label :password, t('user.password') %></th>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <th><%= f.label :password_confirmation, t('user.confirmation') %></th>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>
  </table>

  <%= f.submit 'アカウントを作成する', class: "btn btn-primary"  %><br><br>
  <%= link_to t('view.back') , users_path %>

<% end %>
