<h1>ユーザ情報</h1>

<table border="1">
  <tr>
    <th><%= t 'user.name' %></th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th><%= t 'user.mail' %></th>
    <td><%= @user.mail %></td>
  </tr>
</table>

<p><%= link_to "ツイート一覧", user_tweets_path(@user) %></p>

<% if current_user?(@user) %>
<p><%= link_to '編集', edit_user_path %></p>
<% end %>
