<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <p class="success"><%= flash[:success] %></p>
    <p class="error"><%= flash[:error] %></p>
    
    <div>
      <% if signed_in? %>
        <span><%= current_user.name %>でログイン中</span>
      <% end %>
    
      <span class="margin-left-40"><%= link_to t('link.user_list'), users_path %></span>
      
      <% if signed_in? %>
        <span class="margin-left-40"><%= link_to t('link.profile'), current_user %></span>
        <span class="margin-left-40"><%= link_to t('link.timeline'), user_tweets_path(current_user) %></span>
        <span class="margin-left-40"><%= link_to t('link.logout'), signout_path, method: :delete,
                data: { confirm: "ログアウトしてもよろしいですか？" } %></span>
      <% else %>
        <span class="margin-left-40"><%= link_to t('link.login'), signin_path %></span>
        <span class="margin-left-40"><%= link_to t('link.create_account'), signup_path %></span>
      <% end %>

    </div>
    <hr>
    <%= yield %>
  </body>
</html>
