<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <p class="success"><%= flash[:success] %></p>
    <p class="error"><%= flash[:error] %></p>
    
    <div class="container">
      <% if signed_in? %>
        <span><%= current_user.name %>でログイン中</span>
      <% end %>
    
      <ul class="nav nav-pills">
        <li role="presentation"><%= link_to t('link.user_list'), users_path %></li>
        
        <% if signed_in? %>
          <li role="presentation"  class="margin-left-40"><%= link_to t('link.profile'), current_user %></li>
          <li role="presentation"  class="margin-left-40"><%= link_to t('link.timeline'), user_tweets_path(current_user) %></li>
          <li role="presentation"  class="margin-left-40"><%= link_to t('link.logout'), signout_path, method: :delete,
                  data: { confirm: "ログアウトしてもよろしいですか？" } %></li>
        <% else %>
          <li role="presentation"  class="margin-left-40"><%= link_to t('link.login'), signin_path %></li>
          <li role="presentation"  class="margin-left-40"><%= link_to t('link.create_account'), signup_path %></li>
        <% end %>
      </ul>

    </div>
    <hr>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
